<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="inputTipo">
          <ion-select-option *ngFor="let x of arregloEx" [value]="x.nombre">{{x.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime-button  datetime="inputFecha"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="inputFecha" [(ngModel)]="inputFecha" presentation="date" locale="es-ES" [firstDayOfWeek]="1" [showDefaultButtons]="true" (ionChange)="formatoFecha()">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-input label="Valor" type="number" [(ngModel)]="inputValor"></ion-input>
      </ion-item>
      <ion-button color="warning" [routerLink]="['/lista']">Volver</ion-button>
      <ion-button (click)="modificar()">Guardar</ion-button>
    </ion-list>
  </div>
</ion-content>
