<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div *ngFor="let x of arregloEx">
      <div *ngIf="x.alert==1">
        <ion-card color="warning" >
          <ion-card-header>
            <ion-card-title>{{x.nombre}}</ion-card-title>
          </ion-card-header>        
          <ion-card-content>
            La última medida de {{x.nombre}} esta fuera del rango esperado.<br> Recuerde consultar a su doctor.
          </ion-card-content>
        </ion-card>
      </div>
    </div>    
  </div>
</ion-content>
