<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title size="large">Chart</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-item>
      <ion-select  [(ngModel)]="selected" (ionChange)="updateChart()">
        <ion-select-option *ngFor="let x of arregloEx" [value]="x.nombre">{{x.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card>
      <ion-card-header></ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas id="lineCanvas" style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
